/* вторичный цвет текста #212121 */

/* основной цвет текста цвет текста #757575 */

/* цвет интерактивных кнопок #2196F3 */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
:root {
  --secondary-color-text: #212121;
  --primary-color-text: #757575;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
  --button-color: #2196f3;
  --secondary-btn-color: #f5f4fa;
  --margin-item: 30px;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  background-color: var(--primary-bgc);
}
/* Утилиты */
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}
.main-nav {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Шапка сайта */
/* Оформление логотипа */
.logo {
  display: block;
  color: var(--secondary-color-text);
}
/* логотип шапки и подвала */
.logo,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--button-color);
}

/* Оформление навигации сайта */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color-text);
}

.site-nav .link,
.contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.site-nav .link.current {
  color: var(--button-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--button-color);
}
.contacts .link {
  color: var(--primary-color-text);
}
.header {
  border-bottom: 1px solid #ececec;
}
/* Стили для index.html*/
/* Оформлениsе основной страницы */
.hero {
  background-color: var(--secondary-bgc);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-bgc);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка */
.hero-button {
  display: inline-block;
  padding: 10px 32px;

  margin-top: var(--margin-item);
  min-width: 200px;

  color: var(--primary-bgc);
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: tomato; */
}

.section-title {
  color: var(--secondary-color-text);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* Преимущества */
.feature {
  display: flex;
}
.feature .item {
  width: 270px;
}
.feature .item:not(:last-child) {
  margin-right: var(--margin-item);
}

.feature .feature-title {
  color: var(--secondary-color-text);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature .text {
  line-height: 1.71;
}
/* Оформление деятельности */
.section.about {
  padding-top: 0;
}
.work {
  display: flex;
}
.work .item {
  margin-right: var(--margin-item);
}
.work .item:nth-child(3n) {
  margin-right: 0;
}
/* Команда */
.section.teams {
  background-color: var(--secondary-btn-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-item));
  margin-top: calc(-1 * var(--margin-item));
}
.team .title {
  color: var(--secondary-color-text);
  font-weight: 500;
}
.team .item {
  width: calc(100% / 4 - var(--margin-item));
  margin-left: var(--margin-item);
  margin-top: var(--margin-item);

  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-bgc);
}

.team-photo {
  margin-bottom: var(--margin-item);
}
.team .title,
.team .text {
  font-size: 16px;
  line-height: 1.18;
}
.team .title {
  margin-bottom: 10px;
}
.team .text {
  margin-bottom: var(--margin-item);
}
/* Оформление подвала */
.footer {
  background-color: var(--secondary-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-bgc);
}
.logo-footer > span {
  color: var(--button-color);
}
.adress .text {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-bgc);
}
.adress .link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.adress .link:hover,
.adress .link:focus {
  color: var(--button-color);
}

/* Оформление стилей портфолио */
/* Оформление кнопок фильтра */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item {
  margin-left: 8px;
}
.filter .item:first-child {
  margin-left: 0;
}
.filter .btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondary-btn-color);
  cursor: pointer;
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
.filter .btn:hover,
.filter .btn:focus {
  color: var(--primary-bgc);
  background-color: var(--button-color);
}
/* Оформление примеров проектов */
.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin-item));
  margin-left: calc(-1 * var(--margin-item));
}
.item * {
  /* outline: 2px solid tomato; */
}
.project .item {
  width: calc(100% / 3 - var(--margin-item));
  margin-top: var(--margin-item);
  margin-left: var(--margin-item);
}
.project .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color-text);
}
.project .text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color-text);
}
.content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
